.header{
    height: 72px;
}
.img-portfolio {
    width: 360;
    height: 300;
}
body{

font-family: "Roboto",  sans-serif;
color: var(--slate);
background-color: var(--white);
}
.logo{
    font-family: "Raleway",sans-serif;
 color: var(--iris);
 text-decoration: none;
 font-weight: 800;
 font-size: 18px;
 line-height: 1.17 ;
 letter-spacing: 0.03em;
 text-transform: uppercase
}
.logo-studio{
 

 font-family: "Raleway",sans-serif;
 color: var(--navy-blue);
}


:root{
 --navy-blue: #2E2F42;
 --iris: #4D5AE5;
 --navyblue-modal: #2E2F42; 
 --grey: #2E2F42;
 --white: #ffffff;
 --dairy: #FCFCFC;
 --ocean: #404BBF;
 --cloud: #F4F4FD; 
 --cornflower: #E7E9FC;
 --green: #31D0AA;
 --slate: #434455;
 --lightslate: #8E8F99;
 
}