*
*::before,
*::after{
  box-sizing: border-box;
}
body{

font-family: "Roboto",  sans-serif;
color: var(--slate);
background-color: var(--white);
}
img{
    display: block;
}
.header{
    border-bottom: 1px solid #e7e9fc;
}
.header-div{
    display: flex;
    
}
.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.navigation{
    display: flex;
    align-items: center;

}
.logo{
    font-family: "Raleway",sans-serif;
 color: var(--iris);
 
 font-weight: 800;
 font-size: 18px;
 line-height: 1.17 ;
 letter-spacing: 0.03em;
 text-transform: uppercase;
margin-right: 76px;
}
.logo-div{
    margin-right: 76px;
}
.link{

    text-decoration: none;
}
.link:hover, .link:focus{
    color: var(--ocean);
}
.logo-studio{
 

  font-family: "Raleway",sans-serif;
  color: var(--navy-blue);
}
.logo-studio-dark{
    font-family: "Raleway",sans-serif;
    color: var(--cloud);
}
.list{

  list-style: none;
}
.nav-element{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    padding: 24px 0;
    
}
.nav-element:hover, .nav-element:focus{
    color: var(--ocean);
}
.nav-list{
    display: flex;
    gap: 40px;
}
.address{

    font-style: normal;

}
.address-list{
    display: flex;
    gap: 40px;
}
.post-tel{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.section{

    background-color: var(--navy-blue);
    padding: 188px 0;

}
.section-descriptions{
    padding: 120px 0;
}
.visually-hidden{
    display: none;
}
.list-description{
    display: flex;
    gap: 24px;
}
.list-elements-descriptions{
    width: calc((100% - 72px) / 4);

}
.first-title{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white);
    max-width: 496px;
}
.button-order{
    background-color: var(--iris);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
.button-order:hover, .button-order:focus{
    background-color: var(--ocean);
    cursor: pointer;
}
.second-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 72px;
    text-align: center;
    margin-bottom: 8px;
}
.first-point{

    background-color: #FFFFFF;
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.what-are-they-doing-section{
    padding-bottom: 120px;

}

.sub-titles{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
}
.third-title-h3{
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--navy-blue);
}
.third-title{
    font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: var(--navy-blue);
margin-bottom: 72px;

}
.img-list{
    display: flex;
    gap: 24px;
}
.img-list-item{
    flex-basis: calc((100% - 48px) / 3);
}
.paragraph{
    line-height: 1.5;
    letter-spacing: 0.02em;

}
.our-team{
 
    background-color: #F4F4FD;
    padding: 120px 0;
}
.their-team{
    display: flex;
    gap: 24px;
}
.name{
    padding: 32px 0;

}
.footer{
    background-color: var(--navy-blue);
    padding: 100px 0;
}
.footer-link{
    display: inline-block;
    margin-bottom: 16px;
}
.footer-paragraph{
    line-height: 1.5;
    color: var(--cloud);
    letter-spacing: 0.02em;
    max-width: 264px;
}
:root{
 --navy-blue: #2E2F42;
 --iris: #4D5AE5;
 --navyblue-modal: #2E2F42; 
 --grey: #2E2F42;
 --white: #ffffff;
 --dairy: #FCFCFC;
 --ocean: #404BBF;
 --cloud: #F4F4FD; 
 --cornflower: #E7E9FC;
 --green: #31D0AA;
 --slate: #434455;
 --lightslate: #8E8F99;
 
}
.button-portfolio{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris);
    background-color: var(--cloud);
    cursor: pointer;
}

.button-portfolio:hover, .button-portfolio:focus{
    color: var(--white);
    background-color: var(--ocean);
}
.paragraph-portfolio{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    text-align: center;

}
/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
}

html {
	/* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
	font-family:
		system-ui,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
	line-height: 1.15; /* 1. Correct the line height in all browsers. */
	-webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
	-moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
	tab-size: 4; /* 3 */
}

/*
Sections
========
*/

body {
	margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
	text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
	text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	--webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
	box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	--webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}